<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link type="text/css" href="{{ 'style.css' | asset_url | stylesheet_tag }}" rel="stylesheet" />
</head>
<body>
    <form action="/resume/add/parse" method="post">
        <input type="text" name="resume_link">
        <input type="submit" name="submit">
    </form>

    <h1>Резюме</h1>

    <form action="/resume/add" method="post">
        <input type="submit" name="submit">
        <div class="inputs">
            <div> ФИО <input type="text" value="{{resume.personal_name}}"> </div>
            <div> Телефон <input type="text" value="{{resume.contacts.phone}}" name="phone" > </div>
            <div> Почта <input type="text" value="{{resume.contacts.email}}" name="email" > </div>
            <div> Дата рождения <input type="text" value="{{resume.birth_date}}" name="birth_date" > </div>
            <div> Пол <input type="text" value="{{resume.gender}}" name="gender" > </div>
            <div> Город <input type="text" value="{{resume.area}}" name="area" > </div>
            <div> Предполагаемая позиция <input type="text" value="{{resume.title}}" name="title" > </div>
            <div> Специализации <input type="text" value="{{resume.specialization[0].name}}" name="specialization" > </div>
            <div> Зарплата 
                <input type="text" value="{{resume.salary.amount}}" name="salary_amount" > 
                <input type="text" value="{{resume.salary.currency}}" name="salary_currency" > 
            </div>
            <br>
            <div> Уровень образования <input type="text" value="{{resume.education_level}}" name="education_level" > </div>
            <div class="inputs">
                <input name="educations" hidden value="{{resume.education}}">
                {% for edu in resume.education %}
                    <hr>
                    <div class="inputs">
                        <div> Год <input type="text" value="{{edu.year}}" > </div>
                        <div> Университет <input type="text" value="{{edu.name}}" > </div>
                        <div> Подразделение <input type="text" value="{{edu.organization}}" > </div>
                    </div>
                {% endfor %}
            </div>

            <div class="inputs">
                Языки
                {% for language in resume.language%}
                    <div>
                        <input type="text" value="{{language.name}}">
                        <input type="text" value="{{language.level}}">
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="inputs">
                Места работ
                {% for exp in resume.experience%}
                    <div class="inputs">
                        <div> Организация <input type="text" value="{{exp.organization}}"> </div>
                        <div> Начало <input type="text" value="{{exp.start}}" > </div>
                        <div> Конец <input type="text" value="{{exp.end}}" > </div>
                        <div> Позиция <input type="text" value="{{exp.position}}" > </div>
                        <div> Описание <input type="text" value="{{exp.description}}" > </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
            Навыки
            <div class="inputs">
                {% for skill in resume.skill_set %}
                    <div> {{skill}} </div>
                {% endfor %}
            </div>
            <br>

            <div>
                Обо мне
                <input type="text" value="{{resume.skills}}">
            </div>
        </div>
    </form>
</body>
</html>